node_modules
downloads
.git
.github

.env
.env.*
!.env.example
config_env.json
!config_env.json.example

auth
backups
*.secrets.tar.gz
*.secrets.tar.gz.gpg
.bot.pid

*.db
cache_jid.json
lib/cache_jid.json
lib/store_msg.json
store_msg.json
plugins
contacts_groupe_*.vcf

test
coverage
