{
  "PREFIXE": ".",
  "NOM_OWNER": "",
  "NUMERO_OWNER": "",
  "MODE": "public",
  "STICKER_PACK_NAME": "manewbot",
  "STICKER_AUTHOR_NAME": "",
  "DATABASE": "",
  "NOM_BOT": "Manewbot",
  "RESTRICTED_GROUPS": "",
  "RESTRICTED_GROUP_ALLOWLIST": "",
  "BLOCKED_AUTOREACT_GROUPS": "",
  "COMMAND_REACT": ""
}
